$searchBoxInputBg: #8afbe4;
$searchBoxInputFocusedBg: #abffee;
$searchBoxPlaceholderColor: #5bb8a5;
$searchBoxBaseFontSize: 1em;
$searchBoxListBgColor: #303030;
$searchBoxListColor: $searchBoxPlaceholderColor;
$searchBoxListMessageColor: $searchBoxListColor;
$searchBoxInputColor: #3c645c;
$searchBoxButtonHoverColor: $searchBoxInputFocusedBg;
$searchBoxButtonActiveColor: $searchBoxInputFocusedBg;
$searchBoxButtonHoverBgColor: darken($searchBoxListBgColor, 5%);
$searchBoxButtonActiveBgColor: darken($searchBoxListBgColor, 10%);
$searchBoxInputWidth: 18em;

@keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
}

.searchBox__input {
    border: none;
    border-radius: 1em;
    background-color: $searchBoxInputBg;
    padding: 0.5em 0.75em;
    line-height: 1;
    height: 3em;
    color: $searchBoxInputColor;
    width: $searchBoxInputWidth;
    padding-right: 3em;
    font-size: inherit;
    font-family: inherit;
    font-weight: 400;

    &:focus {
        border: none;
        outline: none;
        background-color: $searchBoxInputFocusedBg;
    }

    &::placeholder {
        color: $searchBoxPlaceholderColor;
        font-weight: 400;
        opacity: 1;
    }
}

.searchBoxList {
    position: relative;
    list-style-type: none;
    background-color: $searchBoxListBgColor;
    padding: 0.75em 0;
    border-radius: 0.75em;
    box-shadow: 0 0.15em 0.5em rgba(0, 0, 0, 0.25);
    font-family: sans-serif;
    font-size: $searchBoxBaseFontSize;
    font-weight: 400;
    margin: 1em 0 0.5em 0;
    min-width: $searchBoxInputWidth;

    &:before {
        position: absolute;
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0.5em 1em 1em;
        border-color: transparent transparent $searchBoxListBgColor transparent;
        top: -0.9em;
        right: 1em;
    }
}

.searchBoxList__message {
    padding: 0.5em 1em;
    font-style: italic;
    color: $searchBoxListMessageColor;
    font-family: inherit;
}

.searchBoxList__loadingIndicator {
    position: relative;
    overflow: hidden;
    width: 2em;
    height: 2em;
    margin-right: 0.75em;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    animation: spin 1.25s linear infinite;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
        background-color: $searchBoxListMessageColor;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 50%;
        background-color: $searchBoxListMessageColor;
    }
}

.searchBoxList__item {
    display: block;
    font-size: 1em;

    button {
        display: block;
        width: 100%;
        text-align: left;
        background: transparent;
        border: none;
        padding: 0.5em 1em;
        color: $searchBoxListColor;
        font-size: inherit;
    }

    button:hover {
        color: $searchBoxButtonHoverColor;
        background-color: $searchBoxButtonHoverBgColor;
        background-size: 200%;
        transition: none;
    }

    button:active {
        color: $searchBoxButtonActiveColor;
        background-color: $searchBoxButtonActiveBgColor;
    }
}

.searchBox__wrapper, .searchBox__wrapper *, .searchBoxList, .searchBoxList * {
    box-sizing: border-box;
}

.searchBox__wrapper {
    display: inline-block;
    position: relative;
}

.searchBoxInput__loadingIndicator {
    position: absolute;
    overflow: hidden;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    right: 0.75em;
    top: 50%;
    margin-top: -0.75em;
    animation: spin 1.25s linear infinite;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 50%;
        background-color: $searchBoxListMessageColor;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 50%;
        background-color: $searchBoxListMessageColor;
    }

    &.searchBoxInput__loadingIndicator--hidden {
        opacity: 0%;
    }

    &.searchBoxInput__loadingIndicator--visible {
        opacity: 100%;
    }
}